@page "/table"

<Paper Style="margin: 24px; overflow-x: auto;">
    <Table Style="min-width: 700px;">
        <TableHead>
            <TableRow>
                <TableCell>Dessert (100g serving)</TableCell>
                <TableCell>Calories</TableCell>
                <TableCell>Fat (g)</TableCell>
                <TableCell>Carbs (g)</TableCell>
                <TableCell>Protein (g)</TableCell>
            </TableRow>
        </TableHead>
        <TableBody>
            <TableRow>
                <TableCell>Frozen yoghurt</TableCell>
                <TableCell>159</TableCell>
                <TableCell>6</TableCell>
                <TableCell>24</TableCell>
                <TableCell>4</TableCell>
            </TableRow>
            <TableRow>
                <TableCell>Ice cream sandwich</TableCell>
                <TableCell>237</TableCell>
                <TableCell>9</TableCell>
                <TableCell>37</TableCell>
                <TableCell>8</TableCell>
            </TableRow>
        </TableBody>
    </Table>
</Paper>