@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Menu Blazor component
components: Menu, MenuItem, MenuList, ClickAwayListener, Popover, Popper
---

# Menus

<p class=""description"">Menus display a list of choices on temporary surfaces.</p>

A [Menu](https://material.io/design/components/menus.html) displays a list of choices on a temporary surface. It appears when the user interacts with a button, or other control.

")" />
