@namespace Skclusive.Material.Docs.App.View

 <div
    style="flex-grow: 1;">
    <LinearProgress
        Variant="@LinearProgressVariant.Query" />
    <br />
    <LinearProgress
        Color="@Color.Secondary"
        Variant="@LinearProgressVariant.Query" />
</div>