@namespace Skclusive.Material.Docs.App.View

<div
    style="display: flex; flex-wrap: wrap;">
    <StandardInput
        DefaultValue="Hello world"
        Style="margin: 8px;" />
    <StandardInput
        Placeholder="Placeholder"
        Style="margin: 8px;" />
    <StandardInput
        Value="Disabled"
        Style="margin: 8px;"
        Disabled="true" />
    <StandardInput
        DefaultValue="Error"
        Style="margin: 8px;"
        Error="true" />
</div>