@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Paper Blazor component
components: Paper
---

# Paper

<p class=""description"">In Material Design, the physical properties of paper are translated to the screen. </p>

")" />
