@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Radio buttons Blazor component
components: Radio, RadioGroup, FormControl, FormLabel, FormControlLabel
---

# Radio buttons

<p class=""description"">Radio buttons allow the user to select one option from a set.</p>

")" />
