@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Badge Blazor component
components: Badge
---

# Badges

<p class=""description"">Badge generates a small badge to the top-right of its child(ren).</p>

")" />
