@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
# Table API

<p class=""description"">The API documentation of the Table component. Learn more about the parameters and the CSS customization points.</p>

## Parameters

| Name | Type | Default | Description |
|:-----|:-----|:--------|:------------|
| <span class=""prop-name"">RootRef</span> | <span class=""prop-type"">IReference</span> | <span class=""prop-default"">new Reference()</span> | The reference used to ref the root node. |
| <span class=""prop-name"">Class</span> | <span class=""prop-type"">string</span> | | The class applied to the root node. |
| <span class=""prop-name"">Style</span> | <span class=""prop-type"">string</span> | | The style applied to the root node. |
| <span class=""prop-name"">Component</span> | <span class=""prop-type"">string</span> | <span class=""prop-default"">'table'</span> | The component used for the root node. |
| <span class=""prop-name"">ChildContent</span> | <span class=""prop-type"">RenderFragment</span> |  | The content of the component. |
| <span class=""prop-name"">Padding</span> | <span class=""prop-type"">Padding.Default<br>&#124;&nbsp;Padding.Checkbox<br>&#124;&nbsp;Padding.None</span> | <span class=""prop-default"">Padding.Default</span> | Allows TableCells to inherit padding of the Table. |
| <span class=""prop-name"">Size</span> | <span class=""prop-type"">Size.Small<br>&#124;&nbsp;Size.Medium</span> | <span class=""prop-default"">Size.Medium</span> | Allows TableCells to inherit size of the Table. |
| <span class=""prop-name"">StickyHeader</span> | <span class=""prop-type"">bool</span> | <span class=""prop-default"">false</span> | Set the header sticky.<br>⚠️ It doesn't work with IE 11. |

## CSS

- Style name: `Table`.
- Style details:

| Global class | Description |
|:-------------|:------------|
| <span class=""prop-name"">Table-Root</span> | Styles applied to the root element.
| <span class=""prop-name"">Table-StickyHeader</span> | Styles applied to the root element if `StickyHeader=""true""`.

")" />
