@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Checkbox Blazor component
components: Checkbox, FormControl, FormGroup, FormLabel, FormControlLabel
---

# Checkboxes

<p class=""description"">Checkboxes allow the user to select one or more items from a set.</p>

[Checkboxes](https://material.io/design/components/selection-controls.html#checkboxes) can be used to turn an option on or off.

")" />
