@namespace Skclusive.Material.Docs.App.View

<div
    class="alert-container">
    <Alert
        Severity="@Severity.Success"
        Color="@Color.Info">
        This is a success alert — check it out!
    </Alert>
</div>