@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
# Chip API

<p class=""description"">The API documentation of the Chip component. Learn more about the parameters and the CSS customization points.</p>

## Parameters

| Name | Type | Default | Description |
|:-----|:-----|:--------|:------------|
| <span class=""prop-name"">RootRef</span> | <span class=""prop-type"">IReference</span> | <span class=""prop-default"">new Reference()</span> | The reference used to ref the root node. |
| <span class=""prop-name"">Class</span> | <span class=""prop-type"">string</span> | | The class applied to the root node. |
| <span class=""prop-name"">Style</span> | <span class=""prop-type"">string</span> | | The style applied to the root node. |
| <span class=""prop-name"">Component</span> | <span class=""prop-type"">string</span> | <span class=""prop-default"">'div'</span> | The component used for the root node. |
| <span class=""prop-name"">ChildContent</span> | <span class=""prop-type"">RenderFragment</span> |  | The badge will be added relative to this node. |
| <span class=""prop-name"">Elevation</span> | <span class=""prop-type"">int</span> | <span class=""prop-default"">1</span> | Shadow depth, corresponds to `dp` in the spec. It accepts values between 0 and 24 inclusive. |
| <span class=""prop-name"">Square</span> | <span class=""prop-type"">bool</span> | <span class=""prop-default"">false</span> | If `true`, rounded corners are disabled. |

## CSS

- Style name: `Chip`.
- Style details:

| Global class | Description |
|:-------------|:------------|
| <span class=""prop-name"">Chip-Root</span> | Styles applied to the root element.
| <span class=""prop-name"">Chip-Rounded</span> | Styles applied to the root element if `Square=""false""`.
| <span class=""prop-name"">Chip-Elevation0</span> | |
| <span class=""prop-name"">Chip-Elevation1</span> | |
| <span class=""prop-name"">Chip-Elevation2</span> | |
| <span class=""prop-name"">Chip-Elevation3</span> | |
| <span class=""prop-name"">Chip-Elevation4</span> | |
| <span class=""prop-name"">Chip-Elevation5</span> | |
| <span class=""prop-name"">Chip-Elevation6</span> | |
| <span class=""prop-name"">Chip-Elevation7</span> | |
| <span class=""prop-name"">Chip-Elevation8</span> | |
| <span class=""prop-name"">Chip-Elevation9</span> | |
| <span class=""prop-name"">Chip-Elevation10</span> | |
| <span class=""prop-name"">Chip-Elevation11</span> | |
| <span class=""prop-name"">Chip-Elevation12</span> | |
| <span class=""prop-name"">Chip-Elevation13</span> | |
| <span class=""prop-name"">Chip-Elevation14</span> | |
| <span class=""prop-name"">Chip-Elevation15</span> | |
| <span class=""prop-name"">Chip-Elevation16</span> | |
| <span class=""prop-name"">Chip-Elevation17</span> | |
| <span class=""prop-name"">Chip-Elevation18</span> | |
| <span class=""prop-name"">Chip-Elevation19</span> | |
| <span class=""prop-name"">Chip-Elevation20</span> | |
| <span class=""prop-name"">Chip-Elevation21</span> | |
| <span class=""prop-name"">Chip-Elevation22</span> | |
| <span class=""prop-name"">Chip-Elevation23</span> | |
| <span class=""prop-name"">Chip-Elevation24</span> | |

You can override the style of the component as below:

- With a [global class name](/customization/components/#overriding-styles-with-global-class-names).

If that's not sufficient, you can check the [implementation of the component](https://github.com/skclusive/Skclusive.Material.Component/blob/master/Chip/src/Chip/Chip.cs) for more detail.

")" />
