@namespace Skclusive.Material.Docs
@page "/tabs"

<style>
    .demo-tabs-root {
        flex-grow: 1;
        background-color: var(--theme-palette-background-paper, #fff);
    }
</style>

<div>
    <Markdown
         Text="@(@"
---
title: Tabs Blazor component
components: Tabs, Tab
---

# Tabs

<p class=""description"">Tabs make it easy to explore and switch between different views.</p>

[Tabs](https://material.io/design/components/tabs.html) organize and allow navigation between groups of content that are related and at the same level of hierarchy.

## Simple Tabs

A simple example with no frills.

{{""demo"": ""Skclusive.Material.Docs.SimpleTabs, Skclusive.Material.Docs""}}

### Wrapped Labels

Long labels will automatically wrap on tabs. If the label is too long for the tab, it will overflow and the text will not be visible.

{{""demo"": ""Skclusive.Material.Docs.TabsWrappedLabel, Skclusive.Material.Docs""}}

### Disabled Tab

A Tab can be disabled by setting `disabled` property.

{{""demo"": ""Skclusive.Material.Docs.DisabledTabs, Skclusive.Material.Docs""}}

## Fixed Tabs

Fixed tabs should be used with a limited number of tabs and when consistent placement will aid muscle memory.

### Full width

The `variant=""fullWidth""` property should be used for smaller views.
This demo also uses [react-swipeable-views](https://github.com/oliviertassinari/react-swipeable-views) to animate the Tab transition, and allowing tabs to be swiped on touch devices.

{{""demo"": ""Skclusive.Material.Docs.FullWidthTabs, Skclusive.Material.Docs""}}

### Centered

The `centered` property should be used for larger views.

{{""demo"": ""Skclusive.Material.Docs.CenteredTabs, Skclusive.Material.Docs""}}

## Customized tabs

Here is an example of customizing the component. You can learn more about this in the
[overrides documentation page](/customization/components/).

{{""demo"": ""Skclusive.Material.Docs.CustomizedTabs, Skclusive.Material.Docs""}}

👑 If you are looking for inspiration, you can check [MUI Treasury's customization examples](https://mui-treasury.com/components/tabs).

## Vertical tabs

{{""demo"": ""Skclusive.Material.Docs.VerticalTabs, Skclusive.Material.Docs""}}

## Icon Tabs

Tab labels may be either all icons or all text.

{{""demo"": ""Skclusive.Material.Docs.IconTabs, Skclusive.Material.Docs""}}

Tab with icon and labels.

{{""demo"": ""Skclusive.Material.Docs.IconLabelTabs, Skclusive.Material.Docs""}}

")" />
</div>