@page "/portal"

<style>
    div.alert {
        border: 1px solid;
        margin: 8px 0px;
        padding: 8px;
    }
</style>

<div>
    <button type="button" @onclick="HandlClick">
        @Text
    </button>
    <div class="alert">
    It looks like I will render here.
        @if (Show)
        {
            <Portal TargetRef="@TargetRef">
                <span>But I actually render here!</span>
            </Portal>
        }
    </div>
    <div class="alert" @ref="TargetRef.Current" />
</div>

@code
{
    string Text => Show ? "Unmount children" : "Mount children";

    Reference TargetRef { set; get; } = new Reference();

    bool Show { set; get; } = false;

    void HandlClick(EventArgs args)
    {
        Show = !Show;
    }
}