@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
# AlertTitle API

<p class=""description"">The API documentation of the AlertTitle component. Learn more about the parameters and the CSS customization points.</p>

## Parameters

| Name | Type | Default | Description |
|:-----|:-----|:--------|:------------|
| <span class=""prop-name"">RootRef</span> | <span class=""prop-type"">IReference</span> | <span class=""prop-default"">new Reference()</span> | The reference used to ref the root node. |
| <span class=""prop-name"">Class</span> | <span class=""prop-type"">string</span> | | The class applied to the root node. |
| <span class=""prop-name"">Style</span> | <span class=""prop-type"">string</span> | | The style applied to the root node. |
| <span class=""prop-name"">Component</span> | <span class=""prop-type"">string</span> | <span class=""prop-default"">'div'</span> | The component used for the root node. |
| <span class=""prop-name"">ChildContent</span> | <span class=""prop-type"">RenderFragment</span> |  | Used to render icon or text elements inside the AlertTitle. `src` and `alt` props will not be used and no `img` will be rendered by default.<br>This can be an element, or just a string. |

## CSS

- Style name: `AlertTitle`.
- Style details:

| Global class | Description |
|:-------------|:------------|
| <span class=""prop-name"">AlertTitle-Root</span> | Styles applied to the root element.

")" />
