@namespace Skclusive.Material.Docs.App.View

<div
    class="alert-container">
    <Alert Severity="@Severity.Error">
        This is an error alert — check it out!
    </Alert>
    <Alert Severity="@Severity.Warning">
        This is a warning alert — check it out!
    </Alert>
    <Alert Severity="@Severity.Info">
        This is an info alert — check it out!
        </Alert>
    <Alert Severity="@Severity.Success">
        This is a success alert — check it out!
    </Alert>
</div>