@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Tabs Blazor component
components: Tabs, Tab
---

# Tabs

<p class=""description"">Tabs make it easy to explore and switch between different views.</p>

[Tabs](https://material.io/design/components/tabs.html) organize and allow navigation between groups of content that are related and at the same level of hierarchy.

")" />
