@namespace Skclusive.Material.Docs.App.View
@page "/list"

<style>
    .demo-list-root {
        width: 100%;
        max-width: 360px;
        background-color: var(--theme-palette-background-paper, #fff);
    }
</style>

<div>
    <Markdown
         Text="@(@"
---
title: List Blazor component
components: Collapse, Divider, List, ListItem, ListItemAvatar, ListItemIcon, ListItemSecondaryAction, ListItemText, ListSubheader
---

# Lists

<p class=""description"">Lists are continuous, vertical indexes of text or images.</p>

[Lists](https://material.io/design/components/lists.html) are a continuous group of text or images. They are composed of items containing primary and supplemental actions, which are represented by icons and text.

## Installing with Nuget

You can [install List package](https://www.nuget.org/packages/Skclusive.Material.List/) by typing the below command in your terminal:

`dotnet add package Skclusive.Material.List`

Then, you can import it in your _Imports.razor.

```csharp
@using Skclusive.Material.List;
```

## Simple List

{{""blazor"": ""Skclusive.Material.Docs.App.View.SimpleList, Skclusive.Material.Docs.App.View""}}

The last item of the previous demo shows how you can render a link:

```html
function ListItemLink(props) {
  return <ListItem button component=""a"" {...props} />;
}

//...

<ListItemLink href=""#simple-list"">
  <ListItemText primary=""Spam"" />
</ListItemLink>
```

You can find a [demo with React Router following this section](/guides/composition/#react-router) of the documentation.

## Nested List

{{""blazor"": ""Skclusive.Material.Docs.App.View.NestedList, Skclusive.Material.Docs.App.View""}}

## Folder List

{{""blazor"": ""Skclusive.Material.Docs.App.View.FolderList, Skclusive.Material.Docs.App.View""}}

## Interactive

Below is an interactive demo that lets you explore the visual results of the different settings:

{{""blazor"": ""Skclusive.Material.Docs.App.View.InteractiveList, Skclusive.Material.Docs.App.View""}}

## Selected ListItem

{{""blazor"": ""Skclusive.Material.Docs.App.View.SelectedListItem, Skclusive.Material.Docs.App.View""}}

## Align list items

You should change the list item alignment when displaying 3 lines or more, set the `alignItems=""flex-start""` property.

{{""blazor"": ""Skclusive.Material.Docs.App.View.AlignItemsList, Skclusive.Material.Docs.App.View""}}

## List Controls

### Checkbox

A checkbox can either be a primary action or a secondary action.

The checkbox is the primary action and the state indicator for the list item. The comment button is a secondary action and a separate target.

{{""blazor"": ""Skclusive.Material.Docs.App.View.CheckboxList, Skclusive.Material.Docs.App.View""}}

The checkbox is the secondary action for the list item and a separate target.

{{""blazor"": ""Skclusive.Material.Docs.App.View.CheckboxListSecondary, Skclusive.Material.Docs.App.View""}}

### Switch

The switch is the secondary action and a separate target.

{{""blazor"": ""Skclusive.Material.Docs.App.View.SwitchListSecondary, Skclusive.Material.Docs.App.View""}}

## Pinned Subheader List

Upon scrolling, subheaders remain pinned to the top of the screen until pushed off screen by the next subheader.

This feature relies on CSS sticky positioning.
Unfortunately it's [not implemented](https://caniuse.com/#search=sticky) by all the supported browsers. It defaults to `disableSticky` when not supported.

{{""blazor"": ""Skclusive.Material.Docs.App.View.PinnedSubheaderList, Skclusive.Material.Docs.App.View""}}

## Inset List

{{""blazor"": ""Skclusive.Material.Docs.App.View.InsetList, Skclusive.Material.Docs.App.View""}}

")" />
</div>