@namespace Skclusive.Material.Docs

<div
    class="Typography-Button"
    style="background-color: var(--theme-palette-background-paper, #fff); padding: calc(var(--theme-spacing, 8) * 1px);">
    This div's text looks like that of a button.
</div>