@namespace Skclusive.Material.Docs.App.View

<AppResource />

<Router
    AppAssembly="@typeof(AppView).Assembly">
    <Found
        Context="routeData">
        <RouteView
            RouteData="@routeData"
            DefaultLayout="@typeof(AppLayout)" />
    </Found>
    <NotFound>
        <LayoutView
            Layout="@typeof(AppLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
