@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Link Blazor component
components: Link
---

# Links

<p class=""description"">The Link component allows you to easily customize anchor elements with your theme colors and typography styles.</p>

")" />
