@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Switch Blazor component
components: Switch, FormControl, FormGroup, FormLabel, FormControlLabel
---

# Switches

<p class=""description"">Switches toggle the state of a single setting on or off.</p>

")" />
