@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Avatar Blazor component
components: Avatar
---

# Avatars

<p class=""description"">Avatars are found throughout material design with uses in everything from tables to dialog menus.</p>

")" />
