@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
# ListItemAvatar API

<p class=""description"">The API documentation of the ListItemAvatar component. Learn more about the parameters and the CSS customization points.</p>

## Parameters

| Name | Type | Default | Description |
|:-----|:-----|:--------|:------------|
| <span class=""prop-name"">RootRef</span> | <span class=""prop-type"">IReference</span> | <span class=""prop-default"">new Reference()</span> | The reference used to ref the root node. |
| <span class=""prop-name"">Class</span> | <span class=""prop-type"">string</span> | | The class applied to the root node. |
| <span class=""prop-name"">Style</span> | <span class=""prop-type"">string</span> | | The style applied to the root node. |
| <span class=""prop-name"">Component</span> | <span class=""prop-type"">string</span> | <span class=""prop-default"">'div'</span> | The component used for the root node. |
| <span class=""prop-name"">ChildContent</span> | <span class=""prop-type"">RenderFragment</span> |  | The content of the component. |

## CSS

- Style name: `ListItemAvatar`.
- Style details:

| Global class | Description |
|:-------------|:------------|
| <span class=""prop-name"">ListItemAvatar-Root</span> | Styles applied to the root element.
| <span class=""prop-name"">ListItemAvatar-AlignItems-FlexStart</span> | Styles applied to the root element when the parent `ListItem` uses `AlignItems=""@AlignItems.FlexStart""`.

")" />
