@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

@page "/"

<div
    style="flex: 1 0 100%;">
    <main
        style="outline: 0;"
        tabindex="-1">
        <HomeContent />
        <HomeSocial />
        <HomeSteps />
        <HomeSamples />
    </main>
</div>