@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Text Field Blazor component
components: FilledInput, FormControl, FormHelperText, Input, InputAdornment, InputBase, InputLabel, OutlinedInput, TextField
---

# Text Fields

<p class=""description"">Text fields let users enter and edit text.</p>

[Text fields](https://material.io/design/components/text-fields.html) allow users to enter text into a UI. They typically appear in forms and dialogs.

")" />
