@namespace Skclusive.Material.Docs

 <div
    style="flex-grow: 1;">
    <LinearProgress
        Variant="@LinearVariant.Query" />
    <br />
    <LinearProgress
        Color="@Color.Secondary"
        Variant="@LinearVariant.Query" />
</div>