@namespace Skclusive.Material.Docs
@page "/badge"

<div>
    <Markdown
         Text="@(@"
---
title: Badge Blazor component
components: Badge
---

# Badges

<p class=""description"">Badge generates a small badge to the top-right of its child(ren).</p>

## Installing with Nuget

You can [install Badge package](https://www.nuget.org/packages/Skclusive.Material.Badge/) by typing the below command in your terminal:

`dotnet add package Skclusive.Material.Badge`

Then, you can import it in your _Imports.razor.

```csharp
@using Skclusive.Material.Badge;
```

## Simple Badges

Examples of badges containing text, using primary and secondary colors. The badge is applied to its children.

{{""demo"": ""Skclusive.Material.Docs.SimpleBadge, Skclusive.Material.Docs""}}

## Customized badges

Here are some examples of customizing the component. You can learn more about this in the [overrides documentation page](/customization/components/).

{{""demo"": ""Skclusive.Material.Docs.CustomizedBadges, Skclusive.Material.Docs""}}

## Badge visibility

The visibility of badges can be controlled using the `invisible` property.

The badge auto hides with badgeContent is zero. You can override this with the `showZero` property.

{{""demo"": ""Skclusive.Material.Docs.BadgeVisibility, Skclusive.Material.Docs""}}

## Maximum Value

You can use the `max` property to cap the value of the badge content.

{{""demo"": ""Skclusive.Material.Docs.BadgeMax, Skclusive.Material.Docs""}}

## Dot Badge

The `dot` property changes a badge into a small dot. This can be used as a notification that something has changed without giving a count.

{{""demo"": ""Skclusive.Material.Docs.DotBadge, Skclusive.Material.Docs""}}

## Badge overlap

You can use the `overlap` property to place the badge relative to the corner of the wrapped element.

{{""demo"": ""Skclusive.Material.Docs.BadgeOverlap, Skclusive.Material.Docs""}}

## Badge alignment

You can use the `horizontalAlignment` and `verticalAlignment` properties to move the badge to any corner of the wrapped element.

{{""demo"": ""Skclusive.Material.Docs.BadgeAlignment, Skclusive.Material.Docs""}}

")" />
</div>