@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Alert Blazor component
components: Alert
---

# Alerts

<p class=""description"">An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>

")" />
