@namespace Skclusive.Material.Docs
@page "/divider"

<div>
    <Markdown
         Text="@(@"
---
title: Divider Blazor component
components: Divider
---

# Dividers

<p class=""description"">A divider is a thin line that groups content in lists and layouts.</p>

[Dividers](https://material.io/design/components/dividers.html) separate content into clear groups.

## List Dividers

The divider renders as an `<hr>` by default.
You can save rendering this DOM element by using the `divider` property on the `ListItem` component.

{{""demo"": ""Skclusive.Material.Docs.ListDividers, Skclusive.Material.Docs""}}

## HTML5 Specification

In a list, you should ensure the `Divider` is rendered as an `<li>` to match the HTML5 specification.
The examples below show two ways of achieving this.

## Inset Dividers

{{""demo"": ""Skclusive.Material.Docs.InsetDividers, Skclusive.Material.Docs""}}

## Subheader Dividers

{{""demo"": ""Skclusive.Material.Docs.SubheaderDividers, Skclusive.Material.Docs""}}

## Middle Dividers

{{""demo"": ""Skclusive.Material.Docs.MiddleDividers, Skclusive.Material.Docs""}}

## Vertical Dividers

You can also render a divider vertically using the `orientation` prop.

{{""demo"": ""Skclusive.Material.Docs.VerticalDividers, Skclusive.Material.Docs""}}

")" />
</div>