@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
# Switch API

<p class=""description"">The API documentation of the Switch component. Learn more about the parameters and the CSS customization points.</p>

## Parameters

| Name | Type | Default | Description |
|:-----|:-----|:--------|:------------|
| <span class=""prop-name"">RootRef</span> | <span class=""prop-type"">IReference</span> | <span class=""prop-default"">new Reference()</span> | The reference used to ref the root node. |
| <span class=""prop-name"">Class</span> | <span class=""prop-type"">string</span> | | The class applied to the root node. |
| <span class=""prop-name"">Style</span> | <span class=""prop-type"">string</span> | | The style applied to the root node. |
| <span class=""prop-name"">Component</span> | <span class=""prop-type"">string</span> | <span class=""prop-default"">'hr'</span> | The component used for the root node. |
| <span class=""prop-name"">ChildContent</span> | <span class=""prop-type"">RenderFragment</span> |  | The content of the component. |
| <span class=""prop-name"">Absolute</span> | <span class=""prop-type"">bool</span> | <span class=""prop-default"">false</span> | Absolutely position the element. |
| <span class=""prop-name"">Light</span> | <span class=""prop-type"">bool</span> | <span class=""prop-default"">false</span> | If `true`, the divider will have a lighter color. |
| <span class=""prop-name"">Orientation</span> | <span class=""prop-type"">Orientation.Horizontal<br>&#124;&nbsp;Orientation.Vertical</span> | <span class=""prop-default"">Orientation.Horizontal</span> | The divider orientation. |
| <span class=""prop-name"">Variant</span> | <span class=""prop-type"">SwitchVariant.FullWidth<br>&#124;&nbsp;SwitchVariant.Inset<br>&#124;&nbsp;SwitchVariant.Middle</span> | <span class=""prop-default"">SwitchVariant.FullWidth</span> | The variant to use. |

## CSS

- Style name: `Switch`.
- Style details:

| Global class | Description |
|:-------------|:------------|
| <span class=""prop-name"">Switch-Root</span> | Styles applied to the root element.
| <span class=""prop-name"">Switch-Absolute</span> | Styles applied to the root element if `Absolute=""true""`.
| <span class=""prop-name"">Switch-Inset</span> | Styles applied to the root element if `Variant=""@SwitchVariant.Inset""`.
| <span class=""prop-name"">Switch-Light</span> | Styles applied to the root element if `Light=""true""`.
| <span class=""prop-name"">Switch-Middle</span> | Styles applied to the root element if `Variant=""@SwitchVariant.Middle""`.
| <span class=""prop-name"">Switch-Vertical</span> | Styles applied to the root element if `Orientation=""@Orientation.Vertical""`.

")" />
