@namespace Skclusive.Material.Docs.App.View

<style>
    .badge-margin {
        margin: calc(var(--theme-spacing) * 2px);
    }
</style>

<div
    style="display: flex;">
    <div
        class="badge-margin">
        <Badge
            BadgeText="99"
            Color="@Color.Primary">
            <MailIcon />
        </Badge>
    </div>
    <div
        class="badge-margin">
        <Badge
            BadgeText="100"
            Color="@Color.Primary">
            <MailIcon />
        </Badge>
    </div>
    <div
        class="badge-margin">
        <Badge
            BadgeText="1000"
            Max="999"
            Color="@Color.Primary">
            <MailIcon />
        </Badge>
    </div>
</div>