@namespace Skclusive.Material.Docs.App.View

<div>
    <CircularProgress
        Style="margin: 16px;" />
    <CircularProgress
        Style="margin: 16px;"
        Color="@Color.Secondary" />
</div>