@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Modal Blazor component
components: Modal
---

# Modal

<p class=""description"">The modal component provides a solid foundation for creating dialogs, popovers, lightboxes, or whatever else.</p>

The component renders its `children` node in front of a backdrop component.
The `Modal` offers important features:

- ðŸ’„ Manages modal stacking when one-at-a-time just isn't enough.
- ðŸ” Creates a backdrop, for disabling interaction below the modal.
- ðŸ” It disables scrolling of the page content while open.
- â™¿ï¸ It properly manages focus; moving to the modal content,
  and keeping it there until the modal is closed.
- â™¿ï¸ Adds the appropriate ARIA roles automatically.
- ðŸ“¦ [5 kB gzipped](/size-snapshot).

> **Terminology note**. The term ""modal"" is sometimes used to mean ""dialog"", but this is a misnomer.
A modal window describes parts of a UI.
An element is considered modal if [it blocks interaction with the rest of the application](https://en.wikipedia.org/wiki/Modal_window).

If you are creating a modal dialog, you probably want to use the [Dialog](/components/dialogs/) component rather than directly using Modal.
Modal is a lower-level construct that is leveraged by the following components:

- [Dialog](/dialog/)
- [Drawer](/drawer/)
- [Menu](/menu/)
- [Popover](/popover/)

")" />
