@namespace Skclusive.Material.Docs

<div
    style="display: flex; flex-wrap: wrap;">
    <TextField
        Label="None"
        Id="margin-none"
        DefaultValue="Default Value"
        Style="width: 200px; margin-left: 8px; margin-right: 8px;"
        Helper="Some important text" />
    <TextField
        Label="Dense"
        Id="margin-dense"
        DefaultValue="Default Value"
        Style="width: 200px; margin-left: 8px; margin-right: 8px;"
        Helper="Some important text"
        Margin="@Margin.Dense" />
    <TextField
        Label="Normal"
        Id="margin-normal"
        DefaultValue="Default Value"
        Style="width: 200px; margin-left: 8px; margin-right: 8px;"
        Helper="Some important text"
        Margin="@Margin.Normal" />
</div>